<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand mr-auto" href="#">Blockchain Pools</a>
  <button
    type="button"
    class="btn btn-secondary"
    (click)="showForm = !showForm"
  >
    Create Pool
  </button>
</nav>
<section class="jumpotron bg-light text-center">
  <h1>Pools Rethinked</h1>
  <p class="lead text-muted">Powered by Blockchain</p>
</section>

<app-poll-create *ngIf="showForm"></app-poll-create>

<div class="d-flex">
  <div class="container poll-list">List</div>
  <div class="container poll-detail">Detail</div>
</div>
