<p>poll-list works!</p>

<div class="card mb-4">
  <div class="poll-image">
    <img
      src="https://uploads.mwp.mprod.getusinfo.com/uploads/sites/29/2021/08/Screen-Shot-2021-08-16-at-5.37.50-AM.png"
    />
  </div>
  <div class="card-body">
    <p class="card-text text-truncate font-weight-bold">
      Do you like more cats or dogs?
    </p>
  </div>
  <div class="d-flex justify-content-between">
    <small class="text-muted">10 votes</small>
    <small class="text-muted">voted</small>
  </div>
</div>
